html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(244,244,244);
  color: #333;
}
p {
  font-size: 1.6rem;
}
small {
  font-size: 1.4rem;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}
.heading {
  font-size: 4rem;
  text-align: center;
  text-decoration: underline;
}
.form {
  display: grid;
}
.label {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.input {
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 1.5rem;
}
.button {
  font-size: 2rem; 
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 30px;
  outline: none;
  transition: background 0.25ms;
}
.button:hover {
  background: rgba(0,0,0,0.85);
  cursor: pointer;
}
.card-list {
  margin-top: 4rem;
}
.card{
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}
.card--image {
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
.card--title {
  font-size: 4rem;
}
@media(min-width: 768px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .input {
    margin-bottom: 0;
  }
}
@media(max-width: 600px) {
  .container {
    max-width: 1200px;
    padding: 10px;
  }
  .heading {
    font-size: 2.5rem;
  }
  .label {
    font-size: 1.2rem;
  }
  .input {
    font-size: 1.5rem;
    padding: 1.0rem;
  }
  .button {
    font-size: 1.5rem; 
    padding: 1.0rem 2rem;
  }
  .card--title {
    font-size: 2rem;
  }
}