.text{
  text-align: center;
  color: #04D64E;
}
h4{
    color: #D604D6;
}
p{
  color: #D604D6;
}
.my_canvas{
  text-align: center;
}
#mcanvas{
  border: 5px green solid;
  text-align: center;
  background-image: url(data/back.jpeg);
}
*{
  background-color: black;
}
